<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer" />
  <title>bililive-pigeon</title>
  <link type="text/css" rel="stylesheet" href="//at.alicdn.com/t/font_1003220_3n4qyffzcx9.css">
  <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <!-- Add `node_modules/` to global paths so `require` works properly in development -->
    <script>
      require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
    </script>
    <% } %>
</head>

<body>
  <div id="app"></div>
</body>

</html>